body {
  background: black;
  color: white;
}

h1 {
  color: yellow;
  text-align: center;
  justify-content: center;
}

.tartan {
  background-image: url("tartan.jpg");
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.main {
  background-image: none;
  background: black;
  color: white;
  max-width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
