body {
  background: black;
  color: white;
}

h1 {
  color: red;
  text-align: center;
  justify-content: center;
  -webkit-text-stroke: 1px black;
}

img {
  border: 2px red;
  border-radius: 10px;
  justify-content: center;
}

.caption {
  font-style: italic;
  justify-content: center;
}

.tartan {
  background-image: url("images/tartan.jpg");
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.sidebyside {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

@media only screen and (max-width: 1500px) {
  .sidebyside {
    flex-direction: column;
  }
}

.item {
  padding: 10px;
  margin: 10px;
}

.main {
  background-image: none;
  background: white;
  color: black;
  max-width: 96%;
  margin: 10px;
  padding: 10px;
  border: 2px red;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

table, th, td {
  color: black;
  border-collapse: collapse;
  padding: 5px;
}

th {
  background-color: #000000;
  color: white;
}

tr:nth-child(even) {background-color: #c3c2c2;}

tr:hover {
  background-color: slategrey;
}

